<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LinkBin</title>
    <link rel="shortcut icon" href="{{ url_for('static',filename='favicon.ico')}}">
</head>
<style>
    *{
        margin: 0;
    }
    h1{
        text-align: center;
        background-color: grey;
        padding: 10px;
    }
    p,footer{
        font-size: large;
        padding: 20px;
    }
</style>
<body>  
    <h1>ABOUT</h1>
    <div>
        <p>Mini-Testbin called Linkbin to send text to others using the url and the target can edit the text and send back if they want...</p>
    </div>
    <footer>
        Suggestions: swaroopsampathila@gmail.com
    </footer>
</body>
</html>